* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body {
	font-family: 'Open Sans',sans-serif;
}

nav	{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
/*descendant selector under nav (UL AND LI)*/
nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
	
}

.right-nav {
	text-align: right;
	margin-top: -2rem;

}

nav .nav, nav .nav-logo {
	margin: 1rem;
	display: inline;
	/*float: left;*/
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: cover;
	margin: 30px 60px;
    min-height: 35vh;
    background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    
    background-repeat: no-repeat;
    background-position: center;

}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	min-height: 35vh;
}


.title {
	font-family: Zilla Slab;
	font-weight: bold;
	color: white;
	font-size: 30px;


	
}

.subtitle {
	
	
	color: white;
	font-size: medium;
	margin: 1rem;
	padding: 1rem;
	margin-right: -0.7rem;

}

.container {

	left: 750px;
	position: relative;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-top: 1rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.container {

}

.apply-button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	margin-bottom: 2rem;
}

.title-2 {
	font-family: Zilla Slab;
	margin-top: 4rem;
	padding-bottom: 3rem;
}

.intro-description {
	text-align: justify;
	padding: 3.5rem;

}

.pre-footer {
	background-color: #f7fbfb;
	text-align: center;
	padding: 3rem;
	margin-top: 5rem;
}

.book-button {
	background-color: #336589;

	color: white;
	font-weight: bold;
	
	border-radius: 35px;
	font-size: 1rem;
	padding: 1rem;
}

footer {
	text-align: center;
}

.intro {
	text-align: center;
}

